@{
    ViewData["Title"] = "Home Page";
    
}
<div class="text-center">
    <h1 class="display-4" style="color: gold;"><b>Welcome!</b></h1>
    <p style="color: whitesmoke;">You can go <a href="https://valorant-api.com/" target="_blank" style="color:red">here</a> for another Valorant's API Documentation.<br>Have a seat and enjoy!</p>
</div>
